# Default
* text=auto eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf

# Shell scripts
*.sh text eol=lf

# Python
*.py text eol=lf

# JS/TS
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Config
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env text eol=lf