EXPO_PUBLIC_API_BASE_URL=http://<your-computer-lan-ip>:8000/api/v1
EXPO_PUBLIC_EXPO_OWNER=
https://life-quest-fxy1.onrender.com/api/v1
# Expo Go quick setup (dev nhanh): only this variable is required
# Redirect URI format: https://auth.expo.io/@username/slug
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
